<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MaSc</string>
    <key>CFBundleExecutable</key>
    <string>{{ masc_script | basename }}</string>
    <key>CFBundleIconFile</key>
    <string>{{ masc_icon | basename }}</string>
    <key>CFBundleIdentifier</key>
    <string>{{ masc_identifier }}</string>
    <key>CFBundleVersion</key>
    <string>{{ masc_version }}</string>
    <key>CFBundleGetInfoString</key>
    <string>Version {{ masc_version }}</string>
    <key>CFBundleShortVersionString</key>
    <string>{{ masc_version }}</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © {{ ansible_date_time.year }} KV-IT GmbH. All rights reserved.</string>
  </dict>
</plist>
